* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #ddd;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 70px;
    color: white;
    font-size: 1.5rem;
    padding: 5px 30px 5px;
    background-color: maroon;
    display: flex;
    align-items: center;
}

header a {
    color: white;
}

main {
    background-color: white;
    width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.btn {
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Poppins', monospace;
    background-color: maroon;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    border: 1px solid maroon;
}

.show-btn {
    padding: 2px;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: 'Poppins', monospace;
    background-color: green !important;
    color: white;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid green;
}

.app {
    border: 1px solid #dddddd;
    box-shadow: 0 0 2px #dddddd;
    padding: 7px;
    margin: 15px;
    display: flex;
    border-radius: 5px;
}

.app img {
    padding: 2px;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.app a {
    display: inline-block;
    background-color: brown;
    color: white;
    margin-top: 7px;
    padding: 2px 10px 2px;
    border-radius: 5px;
}


.form {
    margin: 5px;
}


input[type=text], input[type=file], input[type=submit], select, textarea {
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Poppins', monospace;
    outline: none;
    border: 1px solid maroon;
    margin-top: 5px;
    width: 100%;
}

input[type=submit] {
    margin-top: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}

label {
    margin-top: 10px;
    display: block;
}

input:focus, textarea:focus {
    box-shadow: 0 0 10px maroon;
}

.hidden {
    display: none;
    transition: all 1s ease;
}

textarea {
    width: 100%;
    height: 300px;
    font-size: small;
    font-family: monospace;
}

.mode {
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: 1px solid green;
}


.alert {
    padding: 10px;
    color: white;
    background-color: rgb(69, 143, 69);
}
